<h1>Component Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @component_categories.each do |component_category| %>
      <tr>
        <td><%= component_category.name %></td>
        <td><%= component_category.description %></td>
        <td><%= link_to 'Show', component_category %></td>
        <td><%= link_to 'Edit', edit_component_category_path(component_category) %></td>
        <td><%= link_to 'Destroy', component_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component Category', new_component_category_path %>
