

<fieldset class='center'>
  <legend>Your Profile Information</legend>
  <table id="user-profile">
    <thead>
      <tr>
        <th>Name</th>
        <td><%=  @user.name  %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%=  @user.email %></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><%=  @user.phone_num %></td>
      </tr>
      <tr>
        <th>School</th>
        <td><%=  @user.school.name %></td>
      </tr>
      <tr>
        <th>Class Size</th>
        <td><%=  @user.class_size%></td>
      </tr>
    </thead>

  </table>


</fieldset>

<div class="row">
    <div class="small-3 columns">
      <%= link_to 'View Rental History', user_path(@user), :class => 'button radius info'  %>
      <%= link_to 'Edit Information', edit_user_path(@user), :class => 'button radius'  %>
    </div>
</div>

<%= render :partial=>'rental_history', user: @user %>
