<div class="grid-container">
  <span class="uline"><h2> Rental Confirmation </h2></span>
  <div class="grid-x grid-padding-x small-up-2 medium-up-3">
        <div class="product-card">
          <div class="product-card-thumbnail center">
            <%= link_to image_tag('osmo.png', width:180, height:180), item_path(@item=Item.find(1))%>
          </div>
            <h2 class="product-card-title center"><%= Item.find(1).item_category.name %></h2>
        </div>

        <div class="product-card">
            <h2> Renter Info </h2>
            <h2 class="product-card-title center"><%=  @reservation.teacher.name %></h2>
            <h2 class="product-card-title center"><%=  @reservation.teacher.email %></h2>
            <h2 class="product-card-title center"><%=  @reservation.teacher.school.name %></h2>
            <h2 class="product-card-title center"><% link_to 'EDIT', new_reservation_path(:step => 1, :item_category => @item_category.id) %></h2>
        </div>

        <div class="product-card">
            <h2> Dates </h2>
            <h2 class="product-card-title center">Pick up date: <%=  @reservation.pick_up_date %></h2>
            <h2 class="product-card-title center">Return date: <%=  @reservation.return_date %></h2>
            <h2 class="product-card-title center"><% link_to 'EDIT', new_reservation_path(:step => 2, :item_category => @item_category.id) %></h2>
        </div>

  </div>

  <div class="grid-x center">


        <div class="small-6 cell">
          <%= link_to 'Go back', :back, :class => 'button radius info'  %>
          </br>
          <%= link_to 'Cancel Rental', shopping_path, :class => 'button radius' %>
        </div>
        <div class="small-6 cell">

          <!-- TODO: Add hidden fields -->
          <!-- <%= hidden_field_tag(:item_category, @item_category.id) %> -->
        <%= link_to 'Confirm rental', new_reservation_path(:step => 4), :class => 'button radius success'%>
      </div>
  </div>

</div>
