
<div class="grid-container">
  <span class="uline"><h2> Rental Confirmation </h2></span>
  <div class="grid-x grid-padding-x small-up-2 medium-up-3">
        <div class="product-card">
          <div class="product-card-thumbnail center">
            <%= link_to image_tag('osmo.png', width:180, height:180), item_path(@item=Item.find(1))%>
          </div>
            <h2 class="product-card-title center"><%= @item_category.name %></h2>
        </div>

        <div class="product-card">
            <h2> Renter Info </h2>
            <h2 class="product-card-title center"><%=  @reservation.teacher.name %></h2>
            <h2 class="product-card-title center"><%=  @reservation.teacher.email %></h2>
            <h2 class="product-card-title center"><%=  @reservation.teacher.school.name %></h2>
            <h2 class="product-card-title center"><% link_to "EDIT", new_reservation_path(:step => 1, :item_category => @item_category.id), :class => 'button radius' %></h2>
        </div>

        <div class="product-card">
            <h2> Dates </h2>
            <h2 class="product-card-title center">Pick up date: <%=  @reservation.pick_up_date %></h2>
            <h2 class="product-card-title center">Return date: <%=  @reservation.return_date %></h2>
            <h2 class="product-card-title center"><% link_to "EDIT", new_reservation_path(:step => 2, :item_category => @item_category.id), :class => 'button radius' %></h2>
        </div>

  </div>

  <div class="grid-x center">


        <div class="small-6 cell">
          <%= link_to 'Go back', :back, :class => 'button radius info'  %>
          </br>
          <%= link_to 'Cancel Rental', shopping_path, :class => 'button radius' %>
        </div>
        <div class="small-6 cell">

          <%= simple_form_for @reservation, :url => reservations_path do |f| %>

              <%= f.input :start_date, :value => @reservation.start_date, as: :hidden  %>
              <%= f.input :end_date, :value => @reservation.end_date, as: :hidden  %>
              <%= f.input :pick_up_date, :value => @reservation.pick_up_date, as: :hidden  %>
              <%= f.input :return_date, :value => @reservation.return_date, as: :hidden %>
              <%= f.input :teacher_id, :value => @reservation.teacher_id, as: :hidden %>
              <%= f.input :kit_id, :value => @reservation.kit.id, as: :hidden %>
              <!-- <%= f.input :release_form_id, :value => @reservation.release_form_id, as: :hidden %> -->


          <%= f.submit "Confirm rental",  :class => 'button radius success' %>
          <% end %>

      </div>
  </div>

</div>
