<%= simple_form_for @reservation=Reservation.find(1), :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Rental Dates</legend>


    <%= f.input :pick_up_date, label: "Please select when you would like to pick up your kit during check-out-week.", as: :string, :input_html => {:class => "avg datepicker"} %>
    <%= f.input :return_date, label: "Please select when you would like to drop off your kit during check-in-week.", as: :string, :input_html => {:class => "avg datepicker"} %>

  </fieldset>



  <div class="row">
      <div class="small-5 columns">
        <%= link_to 'Go back',  new_reservation_path, :class => 'button radius info'  %>
        <%= link_to 'Cancel Rental', items_path, :class => 'button radius' %>
      </div>
      <div class="small-5 columns">
      <%= link_to 'Confirm Rental Dates', reservation_path(@reservation), :class => 'button radius success'%>
    </div>
  </div>

<% end %>
