<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @reservation.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @reservation.end_date %>
</p>

<p>
  <strong>Pick up date:</strong>
  <%= @reservation.pick_up_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @reservation.return_date %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @reservation.returned %>
</p>

<p>
  <strong>Picked up:</strong>
  <%= @reservation.picked_up %>
</p>

<p>
  <strong>Release form:</strong>
  <%= @reservation.release_form_id %>
</p>

<p>
  <strong>Kit:</strong>
  <%= @reservation.kit_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @reservation.teacher_id %>
</p>

<p>
  <strong>User check in:</strong>
  <%= @reservation.user_check_in_id %>
</p>

<p>
  <strong>User check out:</strong>
  <%= @reservation.user_check_out_id %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
