<h5 id="dash">Quick Links</h5>
<%= link_to "Schools", schools_path, :class => "button success small radius" %>
<%= link_to "Users", users_path, :class => "button success small radius" %>
<%= link_to "Items", items_path, :class => "button success small radius" %>
<%= link_to "Rentals", reservations_path, :class => "button success small radius" %>
<%= link_to  "Reports", reports_path, :class => "button success small radius" %>
