<h5 id="dash">Quick Links</h5>
<%= link_to  "Check In Kit", returns_path, :class => "button success small radius" %>
<%= link_to  "Check Out Kit", pickup_path, :class => "button success small radius" %>
<%= link_to  "Export a Report", home_path, :class => "button success small radius" %>
<%= link_to  "Add New Rental", new_reservation_path, :class => "button success small radius" %>
<%= link_to  "Add a Kit", new_kit_path, :class => "button success small radius" %>
<%= link_to  "View Item Status'", items_path, :class => "button success small radius" %>