<div id="resend-confirm" class="center grid-x">
  <div class="cell small-6 small-offset-3 center">
    <span class="text-center"><h2>Resend confirmation instructions</h2><span>

      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :class => "center" }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :confirmation_token %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, label: false, :input_html => { :class => 'avg', :placeholder => 'Email' } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Resend instructions", :class => "radius button small submit" %>
        </div>
      <% end %>

    <%#= render "devise/shared/links" %>
  </div>
</div>
