<%= simple_form_for @component, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Component</legend>

    <%= f.input :name %>
		<%= f.input :max_quantity %>
		<%= f.input :damaged %>
    <%= f.input :missing %>
    <%= f.input :consumable %>


    <%= f.input :item_id, :collection => Item.all, input_html: {class: "avg"} %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', assignments_path, :class => 'button alert radius' %>
    </div>
  </fieldset>

<% end %>
