<% @component = Component.new %>
<div id="item-component-form">
  <%= simple_form_for @component, url: new_component_path, method: :get, remote: true do |c| %>
    <%= c.input :name %>
    <%= c.input :max_quantity %>
    <br>
    <%= c.label :consumable %>
    <%= c.check_box :consumable %>

    <div class="form-actions">
      <%= c.submit nil, :class => 'button tiny radius', :id => 'component_submit' %>
      <%= link_to 'Cancel', :back, class: 'button tiny radius alert' %>
    </div>
  <% end %>
</div>