<p id="notice"><%= notice %></p>

<p>
  <strong>Readable:</strong>
  <%= @item.readable_id %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>References:</strong>
  <%= @item.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @item.references %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
