<div class="grid-container" id="item-detail">
  <div class="grid-x grid-margin-x">

    <div class="cell-block-container cell auto large-offset-2 medium-offset-1">
      <div class="cell-block-y small-6">
        <%= render :partial => "item_picture", item: @item %>
      </div>
      <div class="cell-block-y small-6">
        <%= render :partial => "item_components" %>
        <!-- TODO: add cancan -->
        <%= link_to 'EDIT KIT CONTENT', edit_item_path(@item), :class => 'button radius' %>
      </div>
    </div>
    <div class="cell small-6">
      <%= render :partial => "item_details" %>
      <div class="form-actions">
        <%= link_to 'RENT THIS KIT', new_reservation_path, :class => 'button radius' %>

        <!-- TODO: add cancan -->
        <%= link_to 'EDIT THIS KIT', edit_item_path(@item), :class => 'button radius' %>
        <%= link_to 'SEE RENTAL HISTORY', edit_reservation_path(), :class => 'button radius' %>

      </div>
    </div>
  </div>
</div>
