<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-5 columns">
    <%= render :partial => "item_picture" %>
		<%= render :partial => "item_components" %>
	</div>
	<div class="small-7 columns">
		<%= render :partial => "item_details" %>
    <div class="form-actions">
      <%= link_to 'RENT THIS KIT', new_reservation_path, :class => 'button radius' %>
    </div>
	</div>

</div>
