
    <div class="cell-block-y">
      <div class="grid-x">
        <div class="inner-title cell-block-x small-9">
          <span class="uline"><h1><%= link_to "Available Rental Kits", items_path %></h1> </span>
        </div>

        <!-- TODO: add cancan -->
        <div class="cell-block-x small-2 right">
          <h4><%= link_to 'Add New Item', new_item_path %></h4>
        </div>

      </div>
    </div>

    <div class="cell-block-y">
      <div class="grid-x grid-margin-x large-4 medium-2 small-1" id="card-grid">
        <% @item_categories.each do |ic| %>
        <div class="product-card-container cell-block-x">
          <div class="product-card">
            <div class="product-card-thumbnail">
              <%= link_to image_tag('finch.jpg', width:260, height:260), item_category_path(ic)%>
            </div>
            <h2 class="product-card-title center"><%= ic.name %></h2>
            <div class="product-card-button center">
              <%= link_to 'Details', item_category_path(ic) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>

    </div>
