<!DOCTYPE html>
<html>

<head>
  <title>The Education Partnership Lending Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<!-- Devise code needed: https://guides.railsgirls.com/devise -->
<% if notice %>
  <p class="alert alert-success">
    <%= notice %>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger">
    <%= alert %>
  </p>
<% end %>

<body>

  <!-- the title bar / navigation menu -->
  <%= render :partial => "partials/nav" %>

  <!-- the page content -->
  <div class="grid-container">
    <div class="small-12 cell" id="main_content">
      <%= render :partial => "partials/flash" %>
    </div>
    <%= yield %>
  </div>

  <!-- the footer of the page -->
  <footer id="footer">
    <div class="grid-container" id="footer-bar">
      <%= render partial: 'partials/footer' %>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>
</body>

</html>
