<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Navigation Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
      <%= link_to image_tag('logo.png', width:200, height:80), home_path%>
  </div>

  <div class="top-bar-right topbar-hover-lines">
        <ul class="dropdown menu" data-dropdown-menu>
          <!-- TODO: rewrite nav organization to  -->
          <!-- TODO: possibly show check out versus check in depending on current date? -->
          <li><h5><%= link_to "CHECK OUT", pickup_path %></h5></li>
          <li><h5><%= link_to "CHECK IN", returns_path %></h5></li>

          <li><h5><%= link_to "SCHOOLS", schools_path %></h5></li>
          <li>
            <h5><%= link_to "USERS", users_path %></h5>
            <ul class="menu vertical">
                <li><a href="#">TEACHERS</a></li>
                <li><a href="#">VOLUNTEERS</a></li>
                <li><a href="#">EMPLOYEES</a></li>
                <li><%= link_to  "NEW USER", new_user_path %></li>
              </ul>
          </li>
          <!-- TODO: when month information is available change to current_month -->
          <li><h5><%= link_to "RENTALS", rental_calendar_path('March') %></h5></li>
          <li><h5><%= link_to "KITS", items_path %></h5></li>
          <!-- TODO: when login information is available change to current_user -->
          <li>
            <h5><a href="#">ACCOUNT</a></h5>
            <ul class="menu vertical">
              <li><%= link_to "PROFILE", user_path(3)  %></li>
              <li><%= link_to "LOGOUT", home_path  %></li>
            </ul>
          </li>
        </ul>
  </div>
</div>
