<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
    <section class="col-md-3 ml-md-auto horiz">
      <ul class="horiz">

        <li><%= link_to "CHECK OUT", home_path %></li>
        <li><%= link_to "CHECK IN", home_path %></li>

        <li><%= link_to "RENTALS", reservations_path %></li>
        <li><%= link_to "ABOUT", home_path %></li>
        <li><%= link_to "KITS", kits_path %></li>
        <li><%= link_to "PROFILE", users_path  %></li>

        <li>LOGOUT</li>



    </section>
  </div>
</nav>
