<div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <section class="top-bar-section topbar-hover-lines">
      <ul class="right">

        <!-- <li><%= link_to "CHECK OUT", home_path %></li>
        <li><%= link_to "CHECK IN", home_path %></li>
        <li><%= link_to "RENTALS", reservations_path %></li> -->
        <li><%= link_to "ABOUT", home_path %></li>
        <li><%= link_to "KITS", items_path %></li>
        <li><%= link_to "PROFILE", user_path(3)  %></li>

        <li><%= link_to "LOGOUT", home_path  %></li>

    </section>
  </nav>
</div>
