<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul class="left">

        <li><%= link_to "CHECK OUT", home_path %></li>
        <li><%= link_to "CHECK IN", home_path %></li>

        <li><%= link_to "RENTALS", reservations_path %></li>
        <li><%= link_to "ABOUT", home_path %></li>
        <li><%= link_to "KITS", kits_path %></li>
        <li><%= link_to "PROFILE", users_path %></li>
        <li><%= link_to "LOGOUT", home_path %></li>

    </section>
  </nav>
</div>
