<li><h5><%= link_to "DASHBOARD", dashboard_path %></h5></li>
<li><h5><%= link_to "SCHOOLS", schools_path %></h5></li>
<li>
  <h5><%= link_to "USERS", users_path %></h5>
  <ul class="menu vertical">
    <li><%= link_to "ALL USERS", users_path %></li>
    <li><%= link_to "TEACHERS", users_path(:role => 'teacher') %></li>
    <li><%= link_to "EMPLOYEES", users_path(:role => 'employee') %></li>
  </ul>
</li>
<li>
  <h5><%= link_to "ITEMS", items_path %></h5>
  <ul class="menu vertical">
    <li><%= link_to "ALL ITEMS", items_path %></li>
    <li><%= link_to "AVAILABLE ITEMS", items_path(:status => 'Available') %></li>
    <li><%= link_to "USED ITEMS", items_path(:status => 'Kits') %></li>
    <li><%= link_to "GOOD ITEMS", items_path(:status => 'Good') %></li>
    <li><%= link_to "BROKEN ITEMS", items_path(:status => 'Broken') %></li>
  </ul>
</li>
<li>
  <h5><%= link_to "RENTALS", reservations_path %></h5>
  <ul class="menu vertical">
      <li><%= link_to "TABLE", reservations_path %></li>
      <li><%= link_to "CALENDAR", rental_calendar_path() %></li>
  </ul>
</li>