<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
  <button class="menu-icon" type="button" data-toggle="offCanvasLeft"></button>
  <div class="title-bar-title">The Education Partnership :: STEAM Lending Library</div>
</div>

<div class="title-bar top-bar" id="responsive-menu">
  <div class="top-bar-left">
      <%= link_to image_tag('logo.png', width:200, height:80), home_path%>
  </div>

  <div class="top-bar-right topbar-hover-lines">
        <ul class="dropdown menu" data-dropdown-menu>
          <% if current_user %>
            <!-- only volunteers, managers, and admins  -->
            <% if (current_user.has_role?(:admin) || current_user.has_role?(:manager) || current_user.has_role?(:volunteer)) %>
              <%= render :partial => "partials/volunteer_links" %>
            <% end %>

            <!-- only managers, and admins  -->
            <% if (current_user.has_role?(:admin) || current_user.has_role?(:manager)) %>
              <%= render :partial => "partials/manager_links" %>
            <% end %>

            <!-- only teachers, managers, admins -->
            <% if current_user.role != 'volunteer' %>
              <%= render :partial => "partials/account_link.html.erb" %>
            <% end %>

          <% else %>
            <!-- if you're not logged in -->
            <% if current_user.nil? %>
              <li><h5><%= link_to  "LOG IN", new_user_session_path %></h5></li>
            <% end %>
          <% end %>
        </ul>
  </div>
</div>

<div class="off-canvas-wrapper">
  <div class="off-canvas position-left is-closed" data-transition="overlap" id="offCanvasLeft" data-off-canvas>
    <!-- left off-canvas markup -->
    <ul class=" vertical dropdown menu" data-dropdown-menu style="max-width: 250px;">
      <% if current_user %>
        <!-- only volunteers, managers, and admins  -->
        <% if (current_user.has_role?(:admin) || current_user.has_role?(:manager) || current_user.has_role?(:volunteer)) %>
          <%= render :partial => "partials/volunteer_links" %>
        <% end %>

        <!-- only managers, and admins  -->
        <% if (current_user.has_role?(:admin) || current_user.has_role?(:manager)) %>
          <%= render :partial => "partials/manager_links" %>
        <% end %>

        <!-- only teachers, managers, admins -->
        <% if current_user.role != 'volunteer' %>
          <%= render :partial => "partials/account_link.html.erb" %>
        <% end %>

      <% else %>
        <!-- if you're not logged in -->
        <% if current_user.nil? %>
          <li><h5><%= link_to  "LOG IN", new_user_session_path %></h5></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>