<div class="cell-block-y">
  <div class="grid-container">

    <div class="grid-x">
      <div class="inner-title cell-block-x small-8 small-offset-1">
        <span class="uline"><h1>KITS LISTING</h1> </span>
      </div>

      <div class="cell-block-x small-2 right side-link">
        <h4><%= link_to 'New Kit', new_kit_path %></h4>
      </div>
    </div>

    <div class="grid-x">
      <div class="rounded information-table cell small-10 small-offset-1">
        <table>
          <thead>
            <tr id="table-head">
              <th>Kit Number</th>
              <th>Kit Item</th>
              <th>Location</th>
              <th>Active</th>
              <th class="center">Shown</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @kits.each do |kit| %>
              <tr>
                <td><%= kit.id %> </td>
                <td><%= kit.name %></td>
                <td><%= kit.location %></td>
                <% if kit.is_active %>
                  <td id="active">Active</td>
                <% else %>
                  <td id="inactive">Inactive</td>
                <% end %>
                <td>
                  <% if kit.blackout %>
                    <div class="center"><i class="fas fa-check green"></i></div>
                  <% else %>
                    <div class="center"><i class="fas fa-times red"></i></div>
                  <% end %>
                </td>
                <td>
                  <%= link_to kit do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_kit_path(kit) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
