<div class="grid-container" id="profile">
  <div class="grid-x center">
    <h1 class="center"> Your Profile Information</h1>
  </div>
  <div class="grid-x center">
    <fieldset class='cell small-7 center'>
      <br>
      <table class="cell small-5" id="user-profile">
        <thead>
          <tr>
            <th>Full Name</th>
            <td><%=  user.first_name + " " + user.last_name  %></td>
          </tr>
          <tr>
            <th>School Email</th>
            <td><%=  user.email %></td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td><%=  user.phone_num %></td>
          </tr>

            <!-- FIXME: temporary fix for users who are not teachers -->
            <% unless user.school.nil? %>
              <tr>
                <th>School</th>
                <td><%= user.school.name %></td>
              </tr>
            <% end %>

          <tr>
            <th>Class Size</th>
            <td><%=  user.class_size%></td>
          </tr>
        </thead>
      </table>
    </fieldset>
  </div>
  <br>

  <div class="grid-x center">
    <div class="small-3 cell">
      <%= link_to 'Go back', item_category_path(@item_category), :class => 'button radius info'  %>
    </br>
      <%= link_to 'Cancel Rental', shopping_path, :class => 'button radius' %>
    </div>
    <div class="small-5 cell">
      Is this correct? <%= link_to 'Edit Information', reservation_user_edit_path(user, :item_category => @item_category.id), :class => 'button radius'  %>
    </div>
    <div class="small-3 cell">
      <%= link_to 'Confirm Information', new_reservation_path(:step => 2, :item_category => @item_category.id), :class => 'button radius success'%>
    </div>
  </div>

</div>
