
<div class="grid-container" id="profile">
  <div class="grid-x" id="profile-box">
    <div class="small-1 cell"></div>
    <div class="small-3 cell" id="profile-title-box">
      <br>
      <h2 class="title-text"> Edit User <br /> Information </h2>
    </div>
    <div id="user-information" class='cell small-7'>
      <%= simple_form_for @user, :html => { :class => 'form-inline user-info-form' }, defaults: {label: false} do |f| %>
      <fieldset id="profile-form">
        <table class="cell small-5" id="user-profile-form">
          <thead>
            <tr>
              <th>Name</th>
              <td>
                <div class="row">
                  <%= f.input :first_name, :input_html => { :class => 'avg', :style => "width: 190px;" }%>
                  <div style="width: 20px;"></div>
                  <%= f.input :last_name, :input_html => { :class => 'avg', :style => "width: 190px;" }%>
                </div>
              </td>
            </tr>
             <tr>
              <th> Password </th>
              <td>
                <%= f.input :password, :input_html => { :class => 'avg', :style => "width: 200px;" }  %>
              </td>
            </tr>

            <tr>
              <th> Password Confirmation </th>
              <td>
                <%= f.input :password_confirmation, :input_html => { :class => 'avg', :style => "width: 200px;" }  %>
              </td>
            </tr>
            
            <tr>
              <% if @user.has_role?("teacher") %>
                <th>School Email</th>
              <% else %>
                <th>Email</th>
              <% end %>
              <td>
                <%= f.input :email,  :input_html => { :class => 'avg' }%>
              </td>
            </tr>
            <tr>
              <th>Phone Number</th>
              <td>
                <%= f.input :phone_num,  :input_html => { :class => 'avg' }%>
              </td>
            </tr>
            <tr>
              <th>Phone Extension</th>
              <td>
                <%= f.input :phone_ext,  :input_html => { :class => 'avg' }%>
              </td>
            </tr>
            
            <% if @user.has_role?("teacher") %>
              <tr>
                <th>School</th>
                <td>
                    <%= f.input :school_id, collection: School.active.alphabetical, include_blank: true, input_html: {class: "avg"} %>
                </td>
              </tr>
              <tr>
                <th>Class Size</th>
                <td>
                    <%= f.input :class_size, :input_html => { :class => 'avg' }%>
                </td>
              </tr>
            <% end %>
            <% if @user.has_role?('admin') || @user.has_role?('manager') %>
              <tr>
                <th>Role</th>
                <td><%=  f.input :role, :input_html => { :class => 'avg' } %></td>
              </tr>
              <tr>
                <th>Active</th>
                <td><%=  f.input :is_active, :input_html => { :class => 'avg' } %></td>
              </tr>
            <% end %>
          </thead>
        </table>
      </fieldset>
    </div>
  </div>
  <br>
  <div class="grid-x">
    <div class="form-actions large-offset-9">
      <%= link_to 'Cancel', user_path(current_user.id), :class => 'button radius' %>
      <%= f.submit 'Save', :class => 'button radius success bt-right' %>
    </div>
  </div>
  <% end %>
</div>
