<div class="cell-block-y">
  <div class="grid-container">

    <div class="grid-x">
      <div class="inner-title cell-block-x small-10">
        <span class="uline"><h1><%= @title %></h1> </span>
      </div>

      <!-- TODO: add cancan -->
      <div class="cell-block-x small-2 right side-link">
        <h4><%= link_to 'Upload Users', upload_users_path %></h4>
      </div>
    </div>

    <div class="rounded information-table">
      <table>
        <thead>
          <tr id="table-head">
            <th>Name</th>
            <th>School</th>
            <th>Email</th>
            <th>Phone num</th>
            <th>Active?</th>
            <th>Role</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(user.id) %></td>
              <% unless user.school_id.nil? %>
                <td><%= user.school.name %></td>
              <% else %>
                <td>None</td>
              <% end %>
              <td><%= user.email %></td>
              <td><%= user.phone_num %></td>
              <% if user.is_active %>
                <td id="active">active</td>
              <% else %>
                <td id="inactive">inactive</td>
              <% end %>
              <td><%= user.role %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
