<div class="grid-container" id="res_history">
  <div class="grid-y cell-block-container">

    <div class="grid-x">
      <div class="inner-title cell-block-x small-10">
        <span class="uline"><h1>Rental History</h1> </span>
      </div>
    </div>




    <% unless @reservations.nil? || @reservations.empty? %>
      <div class="rounded information-table">
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Checkout Date</th>
              <th>Return Date</th>
              <th>Current Status</th>
              <th>Cancel Reservation </th>
            </tr>
          </thead>

          <tbody>
            <% @reservations.each do |reservation| %>
              <tr>
                <td><%= link_to reservation.kit.items.first.item_category.name, available_kit_path() %></td>
                <td><%= reservation.pick_up_date.strftime("%D") %></td>
                <td><%= reservation.return_date.strftime("%D") %></td>
                <% if reservation.returned %>
                  <td> Returned</td>
                <% else %>
                  <td> <%= reservation.picked_up ? "Picked Up" : "Not Yet Picked Up" %></td>
                <% end %>
                <td> 
                  <%= link_to reservation, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>

                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
    <h3> You currently have no reservations in your history </h3>
    <% end %>

  </div>
</div>