
<div class="grid-container" id="profile">
  <div class="grid-x center" id="profile-box">
    <div class="small-1"></div>
    <div class="small-3" id="profile-title-box">
      <br>
      <h2 class="center"> User Information </h2>
      <div class="show-for-medium left" id="user-info-buttons">
          <%= link_to 'View Reservations', rental_history_path(@user), :class => 'button small radius', :id => 'edit-information' %>
        <%= link_to 'Edit Profile Information', edit_user_path(@user), :class => 'button small radius' , :id => 'edit-information' %>
      </div>
    </div>
    <fieldset class='cell small-7' id="user-information">
      <br>
      <table class="cell small-5" id="user-profile">
        <thead>
          <tr>
            <th>Name</th>
            <td><%=  @user.name  %></td>
          </tr>
          <tr>
            <% if @user.has_role?(:teacher) %>
              <th>School Email</th>
            <% else %>
              <th>Email</th>
            <% end %>
            <td><%=  @user.email %></td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td><%=  number_to_phone(@user.phone_num, extension: @user.phone_ext)  %> </td>
          </tr>
          
          <% unless @user.school.nil? %>
            <tr>
              <th>School</th>
              <td><%= @user.school.name %></td>
            </tr>
          <% end %>

          <% unless @user.school.nil? %>
            <tr>
              <th>Class Size</th>
              <td><%=  @user.class_size %></td>
            </tr>
          <% end %>

          <% if @current_user.has_role?(:admin) || @current_user.has_role?(:manager) %>
            <tr>
              <th>Role</th>
              <td><%=  @user.role %></td>
            </tr>
            <tr>
              <th>Active</th>
              <td><%=  @user.is_active %></td>
            </tr>
          <% end %>
        </thead>
      </table>
    </fieldset>
  </div>
  <br>


  <hr/>
  <br>

</div>
