
<div class="grid-container" id="profile">
  <div class="grid-x center" id="profile-box">
    <div class="small-1"></div>
    <div class="small-3" id="profile-title-box">
      <br>
      <h2 class="center"> User Information </h2>

      <div class="show-for-medium">
          <%= link_to 'View Rentals', rental_history_path(@user), :class => 'button small radius' %>
      </div>
      <div class="show-for-medium" id="user-info-uttons">
        <%= link_to 'Edit Profile Information', edit_user_path(@user), :class => 'button small radius' , :id => 'edit-information' %>
      </div>
    </div>
    <fieldset class='cell small-7' id="user-information">
      <br>
      <table class="cell small-5" id="user-profile">
        <thead>
          <tr>
            <th>Name</th>
            <td><%=  @user.name  %></td>
          </tr>
          <tr>
            <th>School Email</th>
            <td><%=  @user.email %></td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td><%=  @user.phone_num %></td>
          </tr>

          <!-- FIXME: temporary fix for users who are not teachers -->
          <% unless @user.school.nil? %>
            <tr>
              <th>School</th>
              <td><%= @user.school.name %></td>
            </tr>
          <% end %>

          <% unless @user.school.nil? %>
            <tr>
              <th>Class Size</th>
              <td><%=  @user.class_size %></td>
            </tr>
          <% end %>

          <% if @user.role == 'admin' %>
            <tr>
              <th>Role</th>
              <td><%=  @user.role %></td>
            </tr>
            <tr>
              <th>Active</th>
              <td><%=  @user.is_active %></td>
            </tr>
          <% end %>
        </thead>
      </table>
    </fieldset>
  </div>
  <br>


  <hr/>
  <br>

</div>
