<div id="login" class="center grid-x">
    <div class="cell small-6 small-offset-3 center">
      <h2 class="text-center">Forgot your password?</h2>
      
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <fieldset id="profile-form">
          <div class="cell small-5 center" >
              <ul id="login-form">
                <%= f.input :email, required: true, autofocus: true %>
              </ul>
          </div>
        </fieldset>

        <div class="form-actions" id="password-forgot-button">
          <%= f.button :submit, "Send me reset password instructions", :class => "button" %>
        </div>
      <% end %>

      <div class="center" id="forgot-password">
        <h5><%= render "devise/shared/links" %></h5>
      </div>
    </div>
</div>