<%= simple_form_for @item_category, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Item Category</legend>

    <%= f.input :location %>


<<<<<<< HEAD
    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', assignments_path, :class => 'button alert radius' %>
    </div>
  </fieldset>
=======
  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, id: :kit_is_active %>
  </div>

  <div class="field">
    <%= form.label :blackout %>
    <%= form.check_box :blackout, id: :kit_blackout %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
>>>>>>> 0ec4d2b718b6c588fffee167b7cd97575cb7eeb8
<% end %>
