
<p>
  <strong>Location:</strong>
  <%= @kit.location %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @kit.is_active %>
</p>

<p>
  <strong>Blackout:</strong>
  <%= @kit.blackout %>
</p>

<%= link_to 'Edit', edit_kit_path(@kit) %> |
<%= link_to 'Back', kits_path %>
