<%= simple_form_for @reservation, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Reservation</legend>

    <%= f.input :start_date, label: "Start Date", as: :string, :input_html => {:class => "avg datepicker"} %>
    <%= f.input :end_date, label: "End Date", as: :string, :input_html => {:class => "avg datepicker"} %>
    <%= f.input :pick_up_date, label: "Pick Up Date", as: :string, :input_html => {:class => "avg datepicker"} %>
    <%= f.input :return_date, label: "Return Date", as: :string, :input_html => {:class => "avg datepicker"} %>

		<%= f.input :release_form_id %>

    <%= f.input :teacher_id, :collection => User.active.teachers.alphabetical.all, input_html: {class: "avg"} %>
    <%= f.input :user_check_in, :collection => User.active.volunteers.alphabetical.all.map{|o| o.name}, include_blank: true, input_html: {class: "avg"} %>

    <%= f.input :kit_id, :collection => Kit.all, include_blank: true, input_html: {class: "avg"} %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', reservations_path, :class => 'button alert radius' %>
    </div>
  </fieldset>
<% end %>
