<div class="grid-container center" id="profile">

  <div class="grid-x">
    <h1 class="center"> Reservation Dates</h1>
  </div>

  <%= simple_form_for :reservation_select_dates, :html => { :class => 'form-horizontal' }, :url => reservation_select_dates_path do |f| %>

    <div class="grid-x">
      <div class="cell small-4 center">
        <fieldset>
          <%= f.input :pick_up_date, label: "Please select when you would like to pick up your kit during check-out-week.", collection: @pick_up_dates, input_html: {class: "avg"}, :required => true  %>
          <%= f.input :return_date, label: "Please select when you would like to drop off your kit during check-in-week.", collection: @return_dates, input_html: {class: "avg"}, :required => true  %>
        </fieldset>
      </div>
    </div>

  <div class="grid-x center" id="buttons">
    <div class="small-3 small-offset-1 left cell">
      <%= link_to 'Go back', :back, :class => 'button radius info'  %>
      <%= link_to 'Cancel Reservation', shopping_path, :class => 'button radius' %>
    </div>
    <div class="small-3 small-offset-4 cell right">
      <%= f.submit 'Confirm Reservation Dates', :class => 'button radius success small' %>
    </div>
  </div>

  <% end %>
</div>
