<div class="grid-container" id="profile">
  <div class="grid-x center">
    <h1 class="center"> Your Profile Information</h1>
  </div>

  <div class="grid-x center">
    <fieldset class='cell small-7 center'>
      <br>
      <table class="cell small-5" id="user-profile">
        <thead>
          <tr>
            <th>Full Name</th>
            <td><%=  current_user.first_name + " " + current_user.last_name  %></td>
          </tr>
          <tr>
            <th>School Email</th>
            <td><%=  current_user.email %></td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td><%=  current_user.phone_num %></td>
          </tr>

            <% unless current_user.school.nil? %>
              <tr>
                <th>School</th>
                <td><%= current_user.school.name %></td>
              </tr>
            <% end %>

          <tr>
            <th>Class Size</th>
            <td><%=  current_user.class_size%></td>
          </tr>
        </thead>
      </table>
    </fieldset>
  </div>
  <br>

  <div class="grid-x center" id="buttons">
    <div class="small-3 small-offset-1 left cell">
      <%= link_to 'Go back', :back, :class => 'button radius info'  %>
      <%= link_to 'Cancel Rental', shopping_path, :class => 'button radius' %>
    </div>
    <div class="small-4 cell">
      Is this correct? <%= link_to 'Edit Information', edit_user_details_path(), :class => 'button radius'  %>
    </div>
    <div class="small-3 cell right">
      <%= link_to 'Confirm Information', reservation_choose_dates_path(), :class => 'button radius success'%>
    </div>
  </div>

</div>
