<%= simple_form_for @kit, :html => { :class => 'form-inline' }, defaults: {label: false} do |k| %>
  <% @items.each do |i| %>
    <h4> Item Check-Off</h4>
    Item Type: <%= i.item_category.name %><br>
    Item Readable ID: <%= i.readable_id %>
    <% i.components.each do |c| %>
      Component Name: <%= c.name %><br>
      Expected Amount: <%= c.max_quantity %><br>
      <%= k.simple_fields_for :components, :html => { :class => 'form-inline' }, defaults: {label: false} do |c2| %>
        <table>
          <thead>
            <tr>
              <th class="item-edit-head"> Amount Damaged </th>
              <td><%= c2.input :damaged %></td>
            </tr>
            <tr>
              <th class="item-edit-head"> Amount Missing </th>
              <td><%= c2.input :missing %></td>
            </tr> 
            <tr>
          </thead>
        </table>
        
      <% end %>
    <% end %>
  <% end %> 
  <%= k.button :submit, "Complete", :class => 'button' %>
<% end %>