<div class="cell-block-y">
  <div class="grid-container">
        <div class="grid-x">
          <div class="inner-title cell-block-x small-10 small-offset-3">
            <span class="uline"><h1>New Reservation</h1> </span>
          </div>
        </div>
    </div>
</div>


<div class="cell-block-y">
  <div class="grid-container">
    <%= simple_form_for @reservation, :html => { :class => 'form-horizontal' }, :url => manager_create_reservation_path do |f| %>
      <!-- <fieldset> -->


        <div class="grid-x" id="reservation-form">
          <div class="small-offset-3">
            <table>
              <tbody>
                <tr>
                  <td><%= f.label :start_date %></td>
                  <td><%= f.input :start_date, label: false, as: :date, order: [:month, :day, :year], :input_html => {:id => "middle-label", :class => "avg datepicker"} %></td>
                <tr>
                </tr>
                  <td><%= f.label :end_date %></td>
                  <td><%= f.input :end_date, label: false, as: :date, order: [:month, :day, :year], :input_html => {:id => "middle-label", :class => "avg datepicker"} %></td>
                </tr>
                <tr>
                  <td><%= f.label :pick_up_date %></td>
                  <td><%= f.input :pick_up_date, label: false, as: :date, order: [:month, :day, :year], :input_html => {:id => "middle-label", :class => "avg datepicker"} %></td>
                <tr>
                </tr>
                  <td><%= f.label :return_date %></td>
                  <td><%= f.input :return_date, label: false, as: :date, order: [:month, :day, :year], :input_html => {:id => "middle-label", :class => "avg datepicker"} %></td>
                </tr>
                <tr>
                  <td><%= f.label :teacher, required: false %></td>
                  <td><%= f.association :teacher, label: false, input_html: {class: "avg"} %></td>
                <tr>
                </tr>
                  <td><%= f.label :kit, required: false %></td>
                  <td><%= f.association :kit, label: false, :collection => Kit.all.map{|k| k.id}, input_html: {class: "avg"} %></td>
                </tr>
                <tr>
                  <td><%= f.label :release_form_id %></td>
                  <td colspan="3"><%= f.input :release_form_id, label: false, as: :integer, prompt: "type the number of the corresponding release form", :input_html => {:class => "avg", :placeholder => "12345"} %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="grid-x">
          <div class="form-actions cell small-4 small-offset-5 right">
            <%= f.submit 'Create Reservation', :class => 'button radius small' %>
            <%= link_to 'Cancel', reservations_path, :class => 'button alert radius small' %>
          </div>
          <div class="cell auto">
          </div>
        </div>
      <!-- </fieldset> -->
    <% end %>
  </div>
</div>



<%= link_to 'Back', reservations_path %>