<div class="grid-container">
  <div class="grid-x">
    <div class="inner-title cell-block-x small-8 small-offset-1">
      <span class="uline"><h1>Rental Confirmation</h1> </span>
    </div>
  </div>

  <div class="grid-x">
    <div class="small-offset-1 medium-3 small-12">
      <div class="product-card confirmation" id="first">
        <div class="card-divider" id="kit-info">
          <h4> Kit Info </h4>
        </div>
        <% if @rental_category.nil? || @rental_category.item_photo_url.nil? %>
            <%= image_tag("not_found.jpg") %>
        <% else %>
            <%= image_tag(@rental_category.item_photo_url) %>
        <% end %>
        <div class="card-section">
          <h2 class="product-card-title"><%= @rental_category.name %></h2>
        </div>
      </div>
    </div>

    <div class="medium-4 small-12">
      <div class="product-card confirmation">
        <div class="card-divider">
          <h4> Borrower Info </h4>
        </div>
        <div class="card-section">
          <p><b>Name</b></p>
          <p class="body-text"><%=  current_user.name %></p>
          <p><b>Email</b></p>
          <p class="body-text"><%=  current_user.email %></p>
          <% unless current_user.school.nil? %>
            <p><b>School:</b></p>
            <p class="body-text"><%=  current_user.school.name %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="medium-3 small-12">
      <div class="product-card confirmation">
        <div class="card-divider">
          <h4> Dates </h4>
        </div>
        <div class="card-section">
          <p><b>Pick up date:</b></p>
          <p class="body-text"><%=  @reservation.pick_up_date %></p>
          <p><b>Return date:</b></p>
          <p class="body-text"><%=  @reservation.return_date %></p>
          <%= link_to 'Choose new Dates', reservation_choose_dates_path(), :class => 'button radius', :id => 'new-date-button'%>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-x center" id="buttons">
    <div class="small-3 small-offset-1 left cell">
      <%= link_to 'Go back', :back, :class => 'button radius info'  %>
      <%= link_to 'Cancel Rental', shopping_path, :class => 'button radius small' %>
    </div>
    <div class="small-3 small-offset-4 cell right">
      <%= simple_form_for @reservation, :url => reservations_path do |f| %>
        <%= f.input :start_date, :value => @reservation.start_date, as: :hidden, :class => 'hidden-form'  %>
        <%= f.input :end_date, :value => @reservation.end_date, as: :hidden, :class => 'hidden-form'  %>
        <%= f.input :pick_up_date, :value => @reservation.pick_up_date, as: :hidden, :class => 'hidden-form'  %>
        <%= f.input :return_date, :value => @reservation.return_date, as: :hidden, :class => 'hidden-form' %>
        <%= f.input :teacher_id, :value => current_user, as: :hidden, :class => 'hidden-form' %>
        <%= f.submit "Confirm rental",  :class => 'button radius success small' %>
      <% end %>
    </div>
  </div>
</div>
