<div class="cell-block-y">
  <div class="grid-container">
    <div class="inner-title cell-block-x small-9">
      <span class="uline"><h1>CHECK OUT</h1> </span>
    </div>

  <% unless @today_pickup %>
    <div class="rounded information-table">
      <table class="information-table">
        <thead>
          <tr>
            <th>School</th>
            <th style="text-align:center;">Teacher Renting</th>
            <th style="text-align:center;">Kit being Rented</th>
            <th style="text-align:center;">Release Form ID</th>
            <th style="text-align:center;">Volunteer Name</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @today_pickup.each do |pickupKit| %>
            <tr>
              <td><%= pickupKit.teacher.school.name %></td>
              <td style="text-align:center;"><%= pickupKit.teacher.name %></td>
              <td style="text-align:center;"><%= pickupKit.kit.items.first.item_category.name %></td>
              <%= simple_form_for(:picked_up_path, url: picked_up_url(pickupKit)) do |f| %>
              <td>
                <%= f.input :form_id, required: true, label: false %>
              </td>
              <td>
                <%= f.input :name, required: true, label: false %>
              </td>
              <td>
                <%= f.button :submit, "Pick Up", :class => 'button' %>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
      <p><strong>All kits picked up for today.</strong></p>
    <% end %>
  </div>
</div>
