<div class="cell-block-y">
  <div class="grid-container">

    <div class="grid-x">
      <!-- page title -->
      <div class="inner-title cell-block-x small-10">
        <span class="uline"><h1>RESERVATIONS</h1> </span>
      </div>

      <!-- button to see reservations list view -->
      <% if (current_user.has_role?(:admin) || current_user.has_role?(:manager)) %>
        <div class="cell-block-x small-2 side-link">
          <h4><%= link_to 'List View', reservations_path %></h4>
        </div>
      <% end %>

      <!-- page subtitle -->
      <div class="subtitle cell-block-x small-12">
        <p>Teacher reservation pick-up and drop-off dates</p>
      </div>
    </div>

    <div class="calendar-view rounded">
      <%= month_calendar(attribute: :pick_up_date, end_attribute: :return_date, events: @reservations) do |date, reservations| %>
        <%= date.day %>
        <% reservations.each do |reservation| %>
            <% if date == reservation.pick_up_date %>
              <div>
                <p>Pickup: <%= link_to reservation.teacher.name, user_path(reservation.teacher) %></p>
              </div>
            <% end %>
            <% if date == reservation.return_date %>
              <div>
                <p>Return: <%= link_to reservation.teacher.name, user_path(reservation.teacher) %></p>
              </div>
          <% end %> 
        <% end %>
      <% end %>
    </div>
  </div>
</div>
