<div class="cell-block-y">
  <div class="grid-container">
    <div class="inner-title cell-block-x small-9">
      <span class="uline"><h1>CHECK IN</h1> </span>
    </div>

  <% unless @today_return == nil || @today_return.empty? %>
    <div class="rounded information-table">
      <table class="information-table">
        <thead>
          <tr>
            <th style="text-align:center;">School</th>
            <th style="text-align:center;">Teacher Renting</th>
            <th style="text-align:center;">Return Date</th>
            <th style="text-align:center;">Kit being Rented</th>
            <th style="text-align:center;">Volunteer Name</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @today_return.each do |returnKit| %>
            <tr>
              <% unless returnKit.teacher.school == nil %>
                <td><%= returnKit.teacher.school.name %></td>
              <% else %>
                <td></td>
              <% end %>
              <td style="text-align:center;"><%= returnKit.teacher.name %></td>
              <td style="text-align:center;"><%= returnKit.return_date %></td>
              <td style="text-align:center;"><%= returnKit.kit.items.first.item_category.name %></td>
              <%= simple_form_for(:returned_path, url: returned_url(returnKit)) do |f| %>
              <td>
                <%= f.input :name, required: true, label: false %>
              </td>
              <td>
                <%= f.button :submit, "Drop Off", :class => 'button' %>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
      <p><strong>All kits returned for today.</strong></p>
    <% end %>
  </div>
</div>