<div id="edit-component-list">
  <% components.each do |component| %>
    <tr>
      <td><%= component.name %></td>
      <td style="text-align:center;"><%= component.max_quantity %></td>
      <td style="text-align:center;"><%= component.damaged %></td>
      <td style="text-align:center;"><%= component.missing %></td>
      <td style="text-align:center;"><%= component.consumable %></td>
      <td style="text-align:center;">
        <%= link_to component, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</div>