<%= simple_form_for @item, :html => { :class => 'form-inline' }, defaults: {label: false} do |f| %>
  <h4> Item Category Information</h4>
  <%= f.simple_fields_for :item_category, :html => { :class => 'form-inline' }, defaults: {label: false} do |g| %>
    <% if !@item.item_category.item_photo.nil? %>
      <%= image_tag(@item.item_category.item_photo, width: "50px", height: "50px") %>
    <% end %>
    <table>
    <thead>
      <tr>
        <th class="item-edit-head"> Change Picture </th>
        <td><%= g.file_field :item_photo %></td>
      </tr>
      <tr>
        <th class="item-edit-head"> Category Name </th>
        <td><%= g.input :name %></td>
      </tr>
      <tr>
        <th class="item-edit-head"> Category Description </th>
        <td><%= g.input :description %></td>
      </tr>
    </thead>
  </table>
<% end %>