<%= simple_form_for :item do |f| %>
  <div class="grid-x grid-margin-x">
    <div class='cell auto'>
        <table>
          <thead>
            <tr>
              <th class="item-edit-head"> Location </th>
              <td>
                <%= f.input :readable_id, :input_html => { :class => 'avg', :style => "width: 200px;"} %>
              </td>
            </tr>
            <tr>
              <th class="item-edit-head"> Condition </th>
              <td>
                <%= f.input :kit, :input_html => { :class => 'avg', :style => "width: 200px;"} %>
              </td>
            </tr>

            <tr>
              <th class="item-edit-head"> Item Category </th>
              <td>
                <%= f.input :item_category, :input_html => { :class => 'avg', :style => "width: 200px;"} %>
              </td>
            </tr>

            <tr>
              <th class="item-edit-head"> Active </th>
              <td>
                <%= f.input :is_active, as: :boolean, :input_html => { :class => 'avg'} %>
              </td>
            </tr>
            
          </thead>
        </table>
  </div>
</div>



    <div class="grid-x grid-margin-x">
      <div>
        <%= f.button :submit, "SAVE CHANGES", :class => 'button radius small' %>
        <%= link_to 'CANCEL EDITS', items_path, :class => 'button alert radius small' %>
      </div>
    </div>
<% end %>