<h4>Components</h4>
<table class="component-table">
  <thead>
    <th>Name</th>
    <th>Amt.</th>
    <th>Damaged</th>
    <th>Missing</th>
    <th>Consumable</th>
  </thead>
  <tbody>
    <%= render  "edit_component_list", components: components %>
  </tbody>
</table>
<div id="item-component-form">
  <% simple_form_for(:add_component, url: add_component_item_path) do |f| %>
    <%= f.input :name %>
    <%= f.input :max_quantity %>
    <%= f.input :damaged %>
    <%= f.input :missing %>
    <%= f.input :consumable %>
    <%= f.submit nil, :class => 'button radius' %>
  <% end %>
</div>