<!-- THE VUE CODE ON THIS PAGE IS CURRENTLY NOT IN USE. 
IT REMAINS IN PLACE FOR WHOEVER AIMS TO COMPELTE ITS FUNCTIONALITY  -->

<div id="component_table">
  <h4>Components</h4>
  <div id="component-list">

    <table class="component-table">
      <thead>
        <th style="width:10rem;">Name</th>
        <th style="text-align:center;">Max Amt.</th>
        <th style="text-align:center;">Broken</th>
        <th style="text-align:center;">Missing</th>
        <th style="text-align:center;">Consumable</th>
        <th style="text-align:right;" colspan="2">Manage</th>
      </thead>
      <tbody>
        
        <% components.each do |component| %>
          <tr>
            <td><%= component.name %></td>
            <td style="text-align:center;"><%= component.max_quantity %></td>
            <td style="text-align:center;"><%= best_in_place component, :damaged %></td>
            <td style="text-align:center;"><%= best_in_place component, :missing %></td>
            <td style="text-align:center;"><%= component.consumable %></td>
            <td style="text-align:center;">
              <%= link_to edit_component_path(component) do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </td>
            <td style="text-align:center;">
              <%= link_to component, method: :delete, data: { confirm: 'Are you sure you want to delete this component?' }, remote: true do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

  </div>
</div>
