<h4>Components</h4>
<table class="component-table">
  <thead>
    <th>Name</th>
    <th>Amt.</th>
    <th>Damaged</th>
    <th>Missing</th>
    <th>Consumable</th>
  </thead>
  <tbody>
    <% components.each do |component| %>
      <tr>
        <td><%= component.name %></td>
        <td style="text-align:center;"><%= component.max_quantity %></td>
        <td style="text-align:center;"><%= component.damaged %></td>
        <td style="text-align:center;"><%= component.missing %></td>
        <td style="text-align:center;"><%= component.consumable %></td>
      </tr>
    <% end %>
  </tbody>
</table>