<h4>Item Information</h4>

<br/>
<table>
  <tbody>
    <tr>
      <td>Location:</td>
      <% if @item.kit.nil? %>
        <td>Item not in a kit</td>
      <% else %>
        <td><%= link_to @item.kit.location, @item.kit %></td>
      <% end %>
    </tr> 
    <tr>
      <td>Condition:</td>
      <td><%= @item.condition %> </td>
    </tr>
    <tr>
      <td>Category:</td>
      <td><%= @item.item_category.name %></td>
    </tr>
    <tr>
      <td>Active:</td>
      <td><%= @item.is_active %></td>
    </tr>
  </tbody>
</table>
<br/>
<div class="right">
  <%= link_to 'EDIT ITEM', edit_item_path(@item), :class => 'button radius small' %>
  <%= link_to 'DESTROY ITEM', item_path(@item), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button alert radius small' %>
</div>