<div class="grid-container">
    <div class="grid-x">
      <div class="inner-title cell-block-x small-12">
        <span class="uline"><h1>Editing <%= @item.readable_id %></h1> </span>
      </div>
    </div>

  <div class="grid-x grid-margin-x">
    <div class="cell-block-container cell auto">
      <div class="cell-block-y small-6" id="component-block">
        <%= @item.item_category.item_photo %>
        <!-- show item components information -->
        <%= render  "item_components", components: @item.components %>

        <%= link_to 'EDIT KIT CONTENT', edit_item_path(@item), :class => 'button radius small' %>
      </div>
    </div>

    <div class="cell small-6" id="item-block">
    <!-- show item information -->
      <%= render  "form" %>
    </div>
  </div>
</div>