<div class="grid-container" id="item-edit">
  <div class="grid-x">
    <div class="inner-title cell-block-x small-12">
      <span class="uline"><h1>Editing <%= @item.readable_id %></h1> </span>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell-block-y medium-4 small-12" id="component-block">
      <%= simple_form_for @item, :html => { :class => 'form-inline' }, defaults: {label: false} do |f| %>
        <h4> Item Category Information</h4>
        <%= f.simple_fields_for :item_category, :html => { :class => 'form-inline' }, defaults: {label: false} do |g| %>
          <% if @item.item_category.item_photo_url.nil? %>
              <%= image_tag("not_found.jpg", width: "100px", height: "90px") %>
          <% else %>
            <%= link_to image_tag(@item.item_category.item_photo_url) %>
          <% end %>
          <table>
            <thead>
              <tr>
                <th class="item-edit-head"> Change Picture </th>
                  <td><%= g.file_field :item_photo %></td>
              </tr>
              <tr>
                <th class="item-edit-head"> Category Name </th>
                <td><%= g.input :name %></td>
              </tr>
              <tr>
                  <th class="item-edit-head"> Category Description </th>
                  <td><%= g.text_area :description %></td>
              </tr>
            </thead>
          </table>
        <% end %>
      </div>


      <div class="cell-block-y medium-5 small-12" id="category-block">
        <a id="add-a-component-button" href="../components/new"> Add A Component  <i class="fa fa-plus"></i></a>
        <hr>
        <% if @item.components.size > 0 %>
          <%= render  "item_components", components: @item.components %>
        <% else %>
          <h4>No components attached to item.</h4>
        <% end %>
      </div>

      <div class="cell-block-y medium-4 small-12" id="item-block">
        <h4> Item Information </h4>
        <table>
          <thead>
            <tr>
              <th class="item-edit-head"> Location </th>
              <td>
               

                  <%= f.simple_fields_for @kit do |g| %>
                    <%= g.input :location, required: false, :include_blank => "(select if none)", :collection => Kit.all.map{|k| k.location}, :input_html => { :class => 'avg', :style => "width: 200px;"} %>
                  <% end %>
                
              </td>
            </tr>
            <tr>
              <th class="item-edit-head"> Item Condtion </th>
              <td>
                <%= f.input :condition, collection: Item::CONDITIONS, include_blank: false, selected: @item.condition, :input_html => { :class => 'avg', :style => "width: 200px;"} %>
              </td>
            </tr>
            <tr>
              <th class="item-edit-head"> Item Active </th>
              <td><%= f.input :is_active, as: :boolean, :input_html => { :class => 'avg'} %></td>
            </tr>
          </thead>
        </table>
        <br>
        <div class="right">
          <%= f.button :submit, "SAVE CHANGES", :class => 'button radius small' %>
          <%= link_to 'CANCEL EDITS', items_path, :class => 'button alert radius small' %>
        </div>
      </div>
    <% end %>
  </div>
</div>