<div class="cell-block-y">
  <div class="grid-container">

    <div class="grid-x">
      <div class="inner-title cell-block-x small-8 small-offset-1">
        <ul class="dropdown menu" data-dropdown-menu>
             <li>
              <h5><li><span class="uline"><%= link_to @title, items_path(:status => @status)  %></span></li></h5>
              <ul class="menu vertical">
                <li><%= link_to "ALL ITEMS", items_path %></li>
                <li><%= link_to "AVAILABLE ITEMS", items_path(:status => 'Available') %></li>
                <li><%= link_to "USED ITEMS", items_path(:status => 'Kits') %></li>
                <li><%= link_to "GOOD ITEMS", items_path(:status => 'Good') %></li>
                <li><%= link_to "BROKEN ITEMS", items_path(:status => 'Broken') %></li>
              </ul>
            </li>
        </ul>
      </div>
  
  

      <div class="cell-block-x small-2 right side-link">
        <h4><%= link_to 'New Item', new_item_path %></h4>
      </div>
    </div>

    <div class="grid-x">
      <div class="rounded information-table cell small-10 small-offset-1">
        <table>
          <thead>
            <tr id="table-head">
              <th>Item</th>
              <th>Condition</th>
              <th>Kit Location</th>
              <th>Active</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td><%= link_to item.readable_id, item_path(item) %> </td>
                <td><%= item.condition %></td>
                <% if item.kit.nil? %>
                   <td>Not currently assigned</td>
                <% else %>
                  <td><%= link_to item.kit.location, item.kit %></td>
                <% end %>
                
                <% if item.is_active %>
                  <td id="active">Active</td>
                <% else %>
                  <td id="inactive">Inactive</td>
                <% end %>
                <td>
                  <%= link_to item do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_item_path(item) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>