<div class="grid-container" id="item-show-blocks">
  <div class="grid-x">
    <div class="inner-title cell-block-x small-9">
      <span class="uline"><h1>Item: <%= @item.readable_id %></h1> </span>
    </div>
    <div class="small-3 right side-link">
      <%= link_to edit_item_path(@item), :class => 'button radius small' do %>
        EDIT ITEM   <i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
  </div>
    
  <div class="grid-x grid-margin-x">
    <div class="cell-block-y medium-4 small-12 medium-offset-1" id="category-block">
      <%= render  "item_category", item: @item %>
    </div>

    <div class="cell-block-y medium-5 small-12" id="component-block">
      <a id="add-a-component-button" data-open="exampleModal1"> Add A Component  <i class="fa fa-plus"></i></a>
      <hr>
      <% if @item.components.size > 0 %>
          <%= render  "item_components", components: @item.components %>
      <% else %>
        <h4>No components attached to item.</h4>
      <% end %>
    </div>

    <div class="cell-block-y medium-4 small-12" id="item-block">
      <%= render  "item_information" %>
    </div>
  </div>
</div>

<div class="reveal" id="exampleModal1" data-reveal>
  <% @component = Component.new %>
  <%= render  "new_component_form" %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>