<div class="grid-container" id="profile">
  <div class="grid-x center" id="profile-box">
  
    <div class="small-1"></div>
    <div class="small-3" id="profile-title-box">
      <br>
      <h2 class="center"> School Information </h2>

      <div class="show-for-medium left" id="school-info-buttons">
        <%= link_to 'Edit Information', edit_school_path(@school), :class => 'button small radius' , :id => 'edit-information' %>
        <%= link_to 'Delete', @school, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button small alert radius', :id => 'edit-information' %>        
      </div>
    </div>

    <fieldset class='cell small-7' id="user-information">
      <br>
      <table class="cell small-5" id="user-profile">
        <thead>
          <tr>
            <th>Name</th>
            <td><%=  @school.name  %></td>
          </tr>
          <tr>
            <th>Address</th>
            <td><%= @school.street_1 %>,
                <%= @school.street_2 %>
                <%= @school.city %>,
                <%= @school.state %>
                <%= @school.zip %></td>
          </tr>
          <tr>
            <th>Active</th>
            <td><%=  @school.is_active %></td>
          </tr>
        </thead>
      </table>
    </fieldset>
  </div>
</div>