<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :teacher_email %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :teacher_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :teacher_last_name %>
  </div>

  <div class="field">
    <%= form.label :phone_num %>
    <%= form.text_field :phone_num, id: :teacher_phone_num %>
  </div>

  <div class="field">
    <%= form.label :references %>
    <%= form.text_field :references, id: :teacher_references %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :teacher_password_digest %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, id: :teacher_is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
