<!DOCTYPE html>
<html>

<head>
  <title>The Education Partnership Lending Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "app" %>
  <%= javascript_include_tag 'app' %>
</head>

<!-- Devise code needed: https://guides.railsgirls.com/devise -->
<% if notice %>
  <p class="alert alert-success">
    <%= notice %>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger">
    <%= alert %>
  </p>
<% end %>

<body>
    <div class="grid-y devise-content">
      <!-- the title bar / navigation menu -->
      <div class="cell">
        <div class="cell-block-container">
            <%= render :partial => "partials/nav" %>
        </div>
      </div>

      <!-- the page content -->
      <div class="cell" >
        <div class="cell-block-container">
            <div class="cell cell-block-y">
              <%= render :partial => "partials/flash" %>
            </div>
            <div class="cell cell-block-y">
              <%= yield %>
            </div>
        </div>
      </div>
    </div>


  <%= javascript_include_tag "application" %>

</body>

</html>
