<!DOCTYPE html>
<html>

<head>
  <title>The Education Partnership Lending Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<!-- Devise code needed: https://guides.railsgirls.com/devise -->

<body class="grid-y small-grid-frame home-content overlay">

  <!-- the title bar / navigation menu -->
  <div class="cell cell-block-container">
      <div class="home-nav">
        <%= render :partial => "partials/nav" %>
      </div>
  </div>
  
  <!-- the page content -->
  <div class="cell auto">
    <div class="grid-margin-y cell small-7">

      <div class="small-12 cell" id="main_content">
        <%= render :partial => "partials/flash" %>
      </div>

      <div class="cell cell-block-y">
        <%= yield %>
      </div>
    </div>
  </div>

  <!-- the footer of the page -->
  <footer class="cell footer" id="footer">
    <div class="grid-container" id="footer-bar">
      <%= render partial: 'partials/footer' %>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>

</body>

</html>
